.presentation {
  margin-top: calculateVh(120);
  min-height: calculateVh(370, 900);

  background-image: url(../../img/products/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &__crumbs {
    @include padding($top: 20, $left: 25);
    @include flex(flex-start, center, wrap);
    text-transform: uppercase;
    font-family: $title-font;

    li {

      &:not(:first-of-type) {
        a {
          @include flex(null, center);
          position: relative;

          &::before {
            @include pseudo(block, '/');
            @include padding($left: 5, $right: 5);
          }
        }
      }
    }

    a {
      color: $grey-color;
    }
  }

  &__main {
    margin-top: calculateVh(45, 900);
  }

  &__img-wrapper {
    @include margin($top: 50);
    @include padding($bottom: 30);

    img {
      display: block;
      width: 100%;
    }
  }
}