.info {
  background-color: $accent-color;

  .container {
    position: relative;
    // height: calculateVh(540, 900);
    height: calculateRem(540);
  }

  &__wrapper {
    @include position_center(absolute, true, true);
    background: url(../img/main-page-info-photo.jpg) 90% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 110%;
    background-color: $white-color;
    box-shadow: 0px 0px 12.48px 0.52px rgba(9, 24, 27, 0.29);

    &-btn {
      @include margin($top: 60);
    }
  }
}