.main-title {
  @include font($title-font, 900, 60, $accent-color);
  text-transform: uppercase;
}

.main-subtitle {
  @include font($title-font, 300, 35, $black-color);
  @include padding(null, true, 34, 0, 34, 0);
  text-transform: uppercase;
}

.title {
  @include font($title-font, 300, 35, $black-color);
  @include margin($top: 100, $bottom: 40);
  text-transform: uppercase;
  line-height: 1.25;

  &--accent-color {
    color: $accent-color;
  }
}

.subtitle {
  @include font($title-font, 900, 24, $accent-color);
  text-transform: uppercase;

  &--sm {
    @include font($title-font, 900, 18, $black-color);
    @include margin($bottom: 30);
  }
}

.text {
  @include font($font, 400, 13, $black-color);
  line-height: calculateRem(22.5);

  &--accent {
    color: $accent-color;
  }

  &-title {
    @include font($title-font, 700);
    text-transform: uppercase;
  }
}

.link {
  @include basic-animation;
  @include flex(center, center);
  text-transform: uppercase;
  color: $grey-color;
  font-family: $title-font;

  &-arrow-wrapper {
    @include basic-animation(.6s);
    @include flex(center, center);
    @include boxSize($min-width: 17, $min-height: 17);
    @include margin($left: 7);
    background-color: $accent-color;
    border-radius: calculateRem(20);
  }

  &-arrow-icon {
    @include flex;
    transform: rotate(-90deg);
    margin-top: -1px;
    color: $white-color;
    font-size: calculateRem(9);
  }

  &:hover,
  &:focus {
    color: $accent-color;

    .link-arrow-wrapper {
      transform: rotate3d(0, 1, 1, 360deg);
    }
  }
}

.btn {
  @include padding(null, true, 12, 23, 12, 23);
  @include font($title-font, 900, 13, $white-color);
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: $white-color;
  line-height: calculateRem(13);

  &::before,
  &::after {
    transition: all .3s linear;
    @include pseudo(block, attr(data-text));
    @include padding(null, true, 12, 23, 12, 23);
  }

  &::before {
    position: relative;
    transform: translateY(0) rotateX(0);
    background-color: $accent-color;
    opacity: 1;
    line-height: calculateRem(13);
  }

  &::after {
    @include position(absolute, 0);
    transform: translateY(50%) rotateX(90deg);
    background-color: $accent-color_darker;
    opacity: 0;
  }

  &:hover,
  &:focus,
  &:active {
    &::before {
      transform: translateY(-50%) rotateX(90deg);
      opacity: 0;
    }

    &::after {
      top: 50%;
      transform: translateY(-50%) rotateX(0);
      opacity: 1;
    }
  }
}

// .btn {
//   @include font($title-font, 900, 13, $white-color);
//   @include position(relative, $z-index: 1);
//   display: inline-block;
//   text-transform: uppercase;
//   background-color: $accent-color;
//   line-height: calculateRem(13);
//   overflow-x: hidden;

//   &::before {
//     @include pseudo(block, attr(data-text));
//     @include padding(null, true, 12, 23, 12, 23);
//     line-height: calculateRem(13);
//   }

//   &::after {
//     @include pseudo;
//     @include basic-animation(.3s);
//     @include position_center(absolute, true, true, -1);
//     width: 100%;
//     height: 100%;
//     left: -50%;
//     opacity: 0;
//     background-color: $accent-color_darker;
//   }

//   &:hover,
//   &:focus,
//   &:active {
//     &::after {
//       left: 50%;
//       opacity: 1;
//     }
//   }
// }

@import '_media.scss';