@media (max-width: 575.98px) {
  .main-title {
    font-size: calculateRem(50);
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .subtitle {
    &--sm {
      @include margin($top: 30, $bottom: 30);
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}