.main-header {
  @include position(fixed, 0, 0, 0, null, 999);

  .logo {
    @include position(absolute, 0, 0);
    @include boxSize($max-width: 116, $height: 151);
    @include padding(null, true, 24, 23, 16, 23);
    display: block;
    width: 9.91453%;
    background-color: $white-color;
    box-shadow: 0px 0px 9.6px 0.4px rgba(9, 24, 27, 0.2);
    text-shadow: 0px 0px 9.6px rgba(9, 24, 27, 0.2);

    img {
      display: block;
      width: 100%;
    }
  }

  .container {
    position: relative;

    .row {
      @include flex(null, center);
      min-height: 11.111111vh; //120
    }
  }

  &.fixed {
    @extend %basic-shadow;
    background-color: $white-color;

    .row {
      min-height: calculateVh(90);
    }

    .main-header__search-block {
      @include padding($top: 10, $bottom: 10);
    }

    .logo {
      @include boxSize($height: 90, $max-width: 80);
    }
  }

  &__li {
    @include margin($right: 5);
    position: relative;

    &:first-of-type,
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      @include flex;

      &>a {
        @include flex(null, center);

        &::after {
          @extend %fonts-aw;
          @include basic-animation;
          @include pseudo(block, "\f107");
          @include padding($left: 5);
        }
      }
    }

    &.active {
      &>a {
        font-weight: 600;
        color: $black-color;
      }
    }
  }

  &__submenu {
    @include basic-animation(0.4s);
    @include sildeUp;
    @include position(absolute, -10, $z-index: 2);

    &-ul {
      @include padding($top: 20);
      background-color: $white-color;
      border-top: 4px solid $black-color;
      text-transform: uppercase;
    }

    li {
      @include basic-animation(0.3s);
      @include padding(false, true, 8, 20, 8, 20);
      @include font($title-font, 400);
      white-space: nowrap;
      text-transform: uppercase;

      &:hover,
      &:focus,
      &:active {
        background-color: #efeeee;
      }
    }
  }

  &__li.active &__submenu {
    @include sildeDown;
    top: calculateRem(30);
  }

  &__search-block {
    @include flex(null, center, nowrap);
    @include boxSize($height: 60);
    @include margin($top: -15);
    @include padding($bottom: 20);

    input {
      @include basic-animation;
      @include padding($left: 30, $right: 10);
      width: 100%;
      border: none;
      outline: none;
      height: 100%;
      background-color: #b7b7b729;
      border-radius: calculateRem(20);
      border: 2px solid transparent;

      &:hover,
      &:focus {
        border-color: rgba(229, 115, 115, .4);
      }
    }

    a {
      @include basic-animation;
      @include position(absolute, $left: 20);
      @include padding($left: 5, $right: 5);
      @include font($title-font, 400, 13, $grey-color);
    }

    // &.active {

    //   a {

    //     @include position(absolute, $right: 8);
    //     @include position_center(absolute, null, center);

    //     &:hover,
    //     &:focus,
    //     &:active {
    //       color: $grey-color;
    //     }

    //     &::before,
    //     &::after {
    //       display: none;
    //     }
    //   }
    // }
  }

  &__languages-block {
    @include padding($bottom: 2);
    border-bottom: 1px solid $grey-color;

    a {
      @include font($title-font, 600);
    }

    &:hover,
    &:focus,
    &:active {
      border-color: $white-color;

      a {
        @include padding($left: 5, $right: 5);
      }
    }
  }

  &__ul {
    @include flex(space-between, center, wrap);
  }
}