.main-header {
  @include basic-animation(.6s, clip-path, linear);
  @include position(fixed, 0, 0, 0, null, 999);
  background-color: transparent;

  .logo {
    @include basic-animation;
    @include position(absolute, 0, 0);
    @include boxSize($max-width: 116, $height: 151);
    @include padding(null, true, 24, 23, 16, 23);
    display: block;
    width: 9.91453%;
    background-color: $white-color;
    box-shadow: 0px 0px 9.6px 0.4px rgba(9, 24, 27, 0.2);
    text-shadow: 0px 0px 9.6px rgba(9, 24, 27, 0.2);

    img {
      display: block;
      width: 100%;
    }
  }

  &__wrapper {
    min-height: 11.111111vh; //120

    .container,
    .row {
      min-height: 11.111111vh; //120
    }

    .row {
      @include flex(null, center);
    }
  }

  .container {
    position: relative;
  }

  &__link {
    @include basic-animation(.6s, all, ease-in-out);
    @include font($title-font, 400, 13, $grey-color);
    position: relative;

    &::before {
      @include pseudo;
      @include basic-animation;
      @include position(absolute, 10, 10, $z-index: -1);
      width: 100%;
      height: 100%;
      transform: scale(0.9);
      background-color: $accent-color;
      opacity: 0;
    }

    &:hover,
    &:active {
      color: $white-color;
      font-weight: 600;

      &::before {
        top: 0;
        left: 0;
        opacity: 1;
        transform: scaleX(1.2) scaleY(2.1);
        border-radius: calculateRem(2);
        color: $white-color;
      }
    }

    &--uppercase {
      @extend .main-header__link;
      text-transform: uppercase;
    }
  }

  &--fixed {

    .main-header__wrapper {
      @extend %basic-shadow;
      background-color: $white-color;
    }

    .main-header__wrapper,
    .container,
    .row {
      @include boxSize($min-height: 80);
    }

    .main-header__search-block {
      @include padding($top: 10, $bottom: 10);
    }

    .logo {
      @include boxSize($height: 90, $max-width: 80);
    }
  }

  &__li {
    @include basic-animation(.12s);
    @include margin($right: 5);
    position: relative;

    &:first-of-type,
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      @include flex;

      &>a {
        @include flex(null, center);

        &::after {
          @extend %fonts-aw;
          @include pseudo(block, "\f107");
          @include padding($left: 5);
        }
      }
    }

    &.main-header__li--active {
      &>a {
        color: $white-color;
        font-weight: 600;

        &::before {
          top: 0;
          left: 0;
          opacity: 1;
          transform: scaleX(1.2) scaleY(2.1);
          border-radius: calculateRem(2);
          color: $white-color;
        }
      }
    }
  }

  &__submenu {
    @include sildeUp;
    @include fade('hide');
    @include position(absolute, -10, -10, $z-index: 2);

    width: 0;

    &-ul {
      @include basic-animation(.6s, border-top);
      @include padding($top: 20);
      background-color: $white-color;
      text-transform: uppercase;
    }

    li {
      @include basic-animation(0.3s);
      @include font($title-font, 400);
      white-space: nowrap;
      text-transform: uppercase;

      &:hover,
      &:focus,
      &:active {
        background-color: #efeeee;
      }

      a {
        @include padding(false, true, 8, 20, 8, 20);
        display: block;
        width: 100%;
      }
    }
  }

  &__li--active &__submenu {
    @include sildeDown;
    @include fade('show');
    top: calculateRem(30);
    width: auto;

    &-ul {
      border-top: 4px solid $black-color;
    }
  }

  &__search-block {
    @include flex(null, center, nowrap);
    @include boxSize($height: 60);
    @include padding($top: 5, $bottom: 5);

    input {
      @include basic-animation;
      @include padding($left: 30, $right: 10);
      @include boxSize($max-height: 35);
      width: 100%;
      border: none;
      outline: none;
      height: 100%;
      background-color: #b7b7b729;
      border-radius: calculateRem(20);
      border: 2px solid transparent;

      &:hover,
      &:focus {
        border-color: $accent-color_darker;
      }
    }

    a {
      @include basic-animation;
      @include position(absolute, $left: 20);
      @include padding($left: 5, $right: 5);
      @include font($title-font, 400, 13, $grey-color);
    }

    // &.active {

    //   a {

    //     @include position(absolute, $right: 8);
    //     @include position_center(absolute, null, center);

    //     &:hover,
    //     &:focus,
    //     &:active {
    //       color: $grey-color;
    //     }

    //     &::before,
    //     &::after {
    //       display: none;
    //     }
    //   }
    // }
  }

  &__languages-block {

    a {
      @include padding($left: 5, $right: 5, $bottom: 2);
      @include font($title-font, 600);
    }

    &:hover,
    &:focus,
    &:active {
      border-color: $white-color;
    }
  }

  &__ul {
    @include flex(space-between, center, wrap);
  }

  .burger {
    @include boxSize(50);
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;

    li {
      @include basic-animation;
      @include boxSize(22);
      display: block;
      height: calculateRem(3);
      border-radius: calculateRem(5);
      background-color: $grey-color;

      &:not(:first-of-type) {
        @include margin($top: 5);
      }
    }

    &__circle {
      @include basic-animation(.8s);
      @include boxSize(42, 42);
      @include position_center(absolute, true, true);
      border-radius: calculateRem(30);

      &::before {
        @include pseudo;
        @include basic-animation(.6s);
        @include position(absolute, $z-index: -1);
        width: 100%;
        height: 100%;
        top: -50%;
        left: 50%;
        transition-delay: .7s;
      }
    }

    &--active {
      li {

        background-color: $accent-color_darker;

        &:first-of-type {
          @include margin($top: 1);
          transform: rotate(45deg);
        }

        &:nth-of-type(2) {
          width: 0;
        }

        &:nth-of-type(3) {
          @include margin($top: -11);
          transform: rotate(-45deg);
        }
      }

      .burger__circle {
        border: calculateRem(4) solid $accent-color_darker;
        transform: translate(-50%, -50%) rotate(360deg);

        &::before {
          transform: rotate(180deg);
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  &--active.main-header--fixed {
    .main-header__wrapper {
      box-shadow: none;
    }
  }
}

@import './media';